:root {
    /* base colours */
    --black: #000;
    --white: #fff;
    --gray: #e5e5e5;
    /* primary colours */
    --redBerry: #8a0101;
    --jaggedIce: #87cbe4;
}

body {
    background-color: var(--gray);
}